<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craziness</title>
</head>
<body>
    <h1>Predict your craziness</h1>
    <h4>Are you a software developer?</h4>
    <form action='/craziness_results' method="post">
      <select id="developer" name="developer" required>
        <option value="">Please select</option>
        <option value="0">Yes</option>
        <option value="1">No</option>
      </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
