<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craziness</title>
</head>
<body>
    <h1>Predict your craziness</h1>
    <form action='/craziness' method="post">
      <label>Are you a software developer?</label>
      <select id="developer" name="developer" required>
        <option value="">Please select</option>
        <option value="0">Yes</option>
        <option value="1">No</option>
      </select>
        <button type="submit">Submit</button>
    </form>
<p>Your craziness prediction is: <strong>{{ message }}</strong?</p>
<hr>
<a href="/">go home</a>
</body>
</html>
