<!DOCTYPE html>
<html>
<head>
	<title>Final Project</title>
</head>
<body>
	<h1>Machine Health Advisor</h1>
	<p><i>Our project is for learning experience, please consult your healthcare providers if you have any health problem</i></p>
	<h3>Please select a topic to learn about your health:</h3>
	<ul>
		<li><a href="/diabetes">Diabetes</a></li>
		<li><a href="/heart_attack">Heart Attack</a></li>
		<li><a href="#">Cancer</a></li>
		<hr>
		<li><a href="#">Alzheimer</a></li>
		<li><a href="#">Depression</a></li>
		<li><a href="/craziness">Craziness</a></li>
		<hr>
		<li><a href="/feedback">Comments</a></li>
	</ul>
</body>
</html>
